<!DOCTYPE html>
<html lang="tr">

    
    <%- include("./partials/head") %>

<body>
   
    <%-include("./partials/header") %>
    <%-include("./partials/hero") %>

    <%- include("./partials/footer") %>
</body>
<%- include("./partials/importScript") %>
</html>